<div style="margin: 16px; font-family: sans-serif; font-size: 14px;">

        <div style="float: left; width: 320px;">
                <div>Panel with games:</div>
                <div style="width: 320px; height: 500px; border: 1px solid black;">
                        <app-panel-extension #panelFull>
                        </app-panel-extension>
                </div>
        </div>

        <div style="float: left; width: 320px; margin-left: 32px;">
                <div>Panel without configuration:</div>
                <div style="width: 320px; height: 500px; border: 1px solid black;">
                        <app-panel-extension #panelEmpty>
                        </app-panel-extension>
                </div>
        </div>

        <br style="clear: both;" />
</div>
